$primary_color:#9a9a9a;
$active_link_color:#2075b6;
$primary_bg_color:#ffffff;
$color_with_opacity:rgba(0,0,0,0.2);
$text_color:#ffffff;
$font_size:14px;

header {
    width: calc(100% - 111px);
    background-color:$primary_bg_color;
    border-radius: 15px;
    position: fixed;
    top: 40px;
    left: 50%;
    z-index: 9;
    transform: translateX(-50%);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    padding: 9px 15px;
    transition: all 0.2s ease-in-out;

    nav {
        display: flex;
        align-items: center;
        position: relative;
        ul {
            list-style: none;
            li {
                display: inline-block;

                > a {
                    color:$primary_color;
                    font-size:$font_size;
                    padding:0 18px;
                    text-transform: uppercase;
                    font-weight: 300;
                    text-decoration: none;
                    position: relative;
                    transition: all 0.3s;

                    &:hover {
                        color:$active_link_color;
                    }

                    &:before {
                        content: '';
                        position: absolute;
                        bottom: -3px;
                        left: 19px;
                        width:0;
                        height: 1px;
                        background-color:$active_link_color;
                        transition: all 0.3s;
                    }

                    &:hover:before {
                        width: calc(100% - 54px);
                    }
                }

                .dropdown-menu {
                    top: 10px!important;
                    left: -70px!important;
                    
                    a {
                    font-size: 14px;
                    color: $primary_color;
                    font-weight: 300;
                    transition: all 0.3s;
                    
                    &:hover {
                        background-color:#60bef1;
                        color:$text_color;
                        padding-left: 30px;
                        }
                    }
                }
            }
        }

        .toggle_btn {
            background-color: transparent;
            border:none;
            outline: none;
            width: 30px;
            height: 22px;
            position: absolute;
            right: 0;
            margin: 5px 0 0;
            display: none;
            vertical-align: middle;
            -webkit-transition: .5s ease-in-out;
            -moz-transition: .5s ease-in-out;
            -o-transition: .5s ease-in-out;
            transition: .5s ease-in-out;
            cursor: pointer;

             span {
                display: block;
                position: absolute;
                height: 2px;
                width: 80%;
                background: #000;
                opacity: 1;
                left: 0;
                -webkit-transition: .25s ease-in-out;
                -moz-transition: .25s ease-in-out;
                -o-transition: .25s ease-in-out;
                transition: .25s ease-in-out;
             }

             span:nth-child(1) {
                top: 0;
             }

             span:nth-child(2) {
                top: 7px;
            }


             span:nth-child(3) {
                top: 14px;
             }

        }
    }
}

header nav .toggle_btn.open span:nth-child(1){
     top: 7px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

header nav .toggle_btn.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
}

header nav .toggle_btn.open span:nth-child(3){
    top: 7px;
   -webkit-transform: rotate(-135deg);
   -moz-transform: rotate(-135deg);
   -o-transform: rotate(-135deg);
   transform: rotate(-135deg);
}

.left {
    left: -1px!important;
}

.top {
    top: 0;
}



// media

@media(max-width:991px) {
    header{
        width:100%;
        top: 0;
        border-radius: 0;
    }

    header nav .toggle_btn {
        display: block;
    }

    .sidebar {
    position: fixed;
    width: 250px;
    height: 100vh;
    background-color: #fff;
    top: 0;
    left: -250px;
    z-index: -1;
    padding-top: 110px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.4);
    transition: all 0.3s;
    }

    header nav ul li {
        display: block;
        margin-bottom: 15px;
    }

    
    header nav ul li .dropdown-menu {
        top: 0px!important;
        left:0px!important;
        border:none;
    }
}

@media(max-width:767px)  {
 header nav > a > img {
     max-width: 100px;
 }
}